html{
    background-image: url("images/irongrip.png"); 
}

div.wrapper {
    background-color: #fffa;
    width: 80%;
    margin: auto; 
    overflow: auto; 
    font: 100% Helvetica, Arial, sans-serif;
    color: #333;
    opacity: 50%
}
body{
    }


p {
    margin-left: 2em;
    font-size: 1.2em;
}

h1, h2, h3 {
    text-align: center;
    margin: 1em;
    color: coral;
    background-image: url("images/irongrip.png");
    border: 2px solid #333;
    border-radius: 50px 50px;
        

}
h1{
    text-align: center;
    margin: 1em;
    font-size: 3em;
    background-image: url("images/irongrip.png");
    border: 2px solid #333;
    border-radius: 50px 20px;
}
h2{
    color: ;

}

/* desktop */
@media all and (min-width:700px) {
    
    /* left column */
    article {
        float: left;
        width: 65%;
    }
    
    /* right column */
    
    /* works cited below */
    aside {
        clear: both;
        width: 100%;
    }
}

/* phone */
@media all and (max-width:699px) {
    
    div.wrapper {
        width: 100%;
    }
}

